@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap");

body,
h1,
h2,
h3,
h4,
p {
  margin: 0;
  padding: 0;
  font-family: "Raleway", sans-serif;
}

h1,
h2 {
  margin-bottom: 15px;
  font-weight: 700;
}

h1 {
  font-size: 3rem;
}

body {
  background-color: #025464;
  color: #f8f1f1;
}
main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  height: 85vh;
  margin-top: 100px;
}

.container {
  background: #f8f1f1;
  border-radius: 10px;
  padding: 5px;
}

.book-list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.container .book-ul {
  list-style-type: none;
}

.btn {
  all: unset;
  cursor: pointer;
  border-radius: 8px;
}

ul li button.btn {
  background: #f8f1f1;
  padding: 5px;
  color: #000;
}

button:hover {
  border: 1px solid #000;
  font-weight: 600;
}

#form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#form input {
  margin: 5px 0;
  width: 250px;
  height: 20px;
  padding: 5px;
  border-radius: 8px;
}

#form input:focus-visible {
  outline: #e57c23 auto 1px;
  border-radius: 5px;
}

#form button {
  background-color: #e57c23;
  color: #fff;
  align-self: end;
  padding: 10px;
}

#form button:focus,
#form button:hover {
  background-color: #e8aa42;
  color: #fff;
  border: 1px solid #474747;
}

ul li {
  display: flex;
  justify-content: space-between;
  width: 300px;
  align-items: center;
  height: 30px;
  padding: 5px;
  color: #fff;
}

ul {
  padding: 0;
  background-color: #e57c23;
  margin-block: 4px;
  border-radius: 5px;
}

ul:nth-child(even) {
  background-color: #e8aa42;
}

.line {
  height: 2px;
  background-color: #e57c23;
  width: 200px;
  margin-block: 10px;
  border-radius: 2.5px;
  margin-block: 20px;
}

nav > ul {
  display: flex;
  width: 100%;
  background-color: #025464;
  justify-content: center;
  padding-top: 20px;
}
nav > ul li {
  display: flex;
  width: 100px;
  background-color: #025464;
  justify-content: center;
  font-size: 1.2rem;
}

nav > ul li:hover {
  color: #f69a4a;
  cursor: pointer;
}

nav > ul li.active {
  color: #f69a4a;
  cursor: pointer;
}

section[data-visible="false"] {
  display: none;
}

@media screen and (min-width: 768px) {
  ul li {
    width: 600px;
  }
}
